*{
    font-family: cursive;
}

/*back button */
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(255, 0, 76); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: rgb(255, 98, 145); 
  }
/*back button End*/  


/* Navbar */

.navbar{
    background-color: #f7a8c0;
}

.navbar a{
    color: black;

}
.navbar #logo{
    width: 200px;
    /* height: 80px; */
}
.navbar li{
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
}

#logo{
    width: 130px;
    height: 90px;
}
.btn{
    color: black;
    
}
.nav-item ul{
    background-color: #f7a8c0;
    font-weight: bold;
}
.dropdown-item:hover{
    background-color: rgb(255, 78, 107);
    transition: 0.5s ease;
}
.btn:hover{
    background-color: rgb(250, 0, 125);
}
.btn:focus{
    box-shadow: rgb(250, 0, 125);
}
.navbar-brand button{
    border: black;
    color: black;
    background-color: black;
}
.d-flex button{
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
}
.d-flex input{
    width: 20rem;
}
/* Navbar End*/

#search{
    border: none;
    border-radius: 20px;
    border: 1px solid transparent;
    color: black;
    font-weight: 500;
 }


/*Footer*/

*,*:before,*:after{
    box-sizing: border-box;
}
body{
    font-family: cursive;
    margin: 0;
    display: grid;
    font-size: 14px;
}
/* main{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #070606;
    line-height: 3.8;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;

} */

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    color: #fff;
    padding: 50px;
    background-color: #ffadc5;
    position: relative;

    
}
.footer > *{
    flex: 1 100%;

}
.footer-left{
     margin-right: 1.25em;
     margin-bottom: 2em;
}
.footer-left img{
    width: 60%;
}
h2{
    font-weight: 600;
    font-size: 22px;
    color: black;
    margin-top: 35px;

}
.map{
    margin-top: 35px;
    border-radius: 5px;
}
.footer ul{
    list-style: none;
    padding-left: 0;

}
.footer li{
    line-height: 2em;
    
}
.footer a{
    text-decoration: none;
    font-size: 17px;
}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}
.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;

}
.box a{
    color: rgb(0, 0, 0);
}
.footer-bottom{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.footer-left p{
    padding-right: 20%;
    color: rgb(0, 0, 0);

}
.social a{
    /* background: #000000; */
    width: 40px;
    height: 40px;
    display: inline-block;
    /* margin-right: 10px; */
    font-size: 35px;
    padding-left: 10px;
    color: rgb(255, 0, 98);
    padding-top: 10px;
    padding-bottom: 20px;

}
.socail a i{
    color: #e7f2f4;
    padding-right: 10px 12px;
    font-size: 30px;

}

/*Footer End*/
@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;

    }
    .footer-right{
        flex: 2 0px;
    }
}

@media(max-width:600px){
    .footer{
        padding: 15px;
    }
    main{
        font-size: 55px;
    }
}


/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

.body{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;

}  

.about-section{
     background: url(images/cloth2.jpg ) no-repeat left;
     background-size: 55%;
     background-color: #fdfdfd;
     overflow: hidden;
     padding: 100px 0;

}

.inner-container{
    width: 55%;
    float: right;
    background-color: rgb(250, 180, 191);
    padding: 150px;

}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;

}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;

}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;

}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;

    }

}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        padding: 80px;
        
    }

}

@media screen and (max-width:600px){
    .about-section{
        
        padding: 0;
    }
    .inner-container{
        padding: 60px;
        
    }

} */








@media only screen and (max-width: 850px) {
    h1 {
        font-size: 29px !important;
        text-align: center !important;
    }

    h3 {
        text-align: center !important;
        font-size: 23.5px !important;
    }

    #divp {
        padding: 0px 0px 0px 20px !important;
        font-size: 16px !important;
        text-align: justify !important;
        border-right: 1px solid rgb(255, 255, 255) !important;
        border-left: 1px solid rgb(255, 255, 255) !important;
    }

    #divimg>img {
        margin: 0px 0px 0px 25px !important;
        height: 200px !important;
        width: 200px !important;


    }

}

#divp {
    border-right: 1px solid rgb(240, 239, 239);
    border-left: 1px solid rgb(240, 239, 239);
}


h3 {
    padding-left: 19px;
}

#divimg>img {
    height: 270px;
    width: 80%;

}